# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.3 CORRECT TEXT

### Problem Scenario 81 : 
In Continuation of previous question, please accomplish following activities.
1. Select all the products which has product code as null
2. Select all the products, whose name starts with Pen and results should be order by Price descending order.
3. Select all the products, whose name starts with Pen and results should be order by Price descending order and quantity ascending order.
4. Select top 2 products by price

#### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:

Solution :
Step 1 : Select all the products which has product code as null
val results = sqlContext.sql(......SELECT' FROM products WHERE code IS NULL......) results. showQ val
results = sqlContext.sql(......SELECT * FROM products WHERE code = NULL ",,M ) results.showQ

Step 2 : Select all the products , whose name starts with Pen and results should be order by Price
descending order. val results = sqlContext.sql(......SELECT * FROM products
WHERE name LIKE 'Pen %' ORDER BY price DESC......)
results. showQ

Step 3 : Select all the products , whose name starts with Pen and results should be order by Price
descending order and quantity ascending order. val results = sqlContext.sql('.....SELECT * FROM
products WHERE name LIKE 'Pen %' ORDER BY price DESC, quantity......) results. showQ

Step 4 : Select top 2 products by price
val results = sqlContext.sql(......SELECT' FROM products ORDER BY price desc
LIMIT2......}
results. show()

#### Step 1 : 
Select all the products which has product code as null

In [6]:
# work around for clouder quick start virtual machine.
import org.apache.spark.sql._
import org.apache.spark.sql.SQLContext
import org.apache.spark.sql.hive._
import org.apache.spark.sql.hive.HiveContext


val sqlContext = new HiveContext(sc)
import sqlContext.implicits._

In [7]:
// spark-shell
val results = sqlContext.sql( "SELECT * FROM products WHERE code IS NULL" ) 
results.show()

val results = sqlContext.sql( "SELECT * FROM products WHERE code IS NULL ",,M ) 
results.show()

In [8]:
# pyspark
results = sqlContext.sql( "SELECT * FROM products WHERE code IS NULL" ) 
results.show()

## Step 2 : 
Select all the products , whose name starts with Pen and results should be order by Price descending order.

In [10]:
// spark-shell
val results = sqlContext.sql( "SELECT * FROM products WHERE name LIKE 'Pen %' ORDER BY price DESC " ) 
results. show()

In [11]:
# pyspark
results = sqlContext.sql( "SELECT * FROM products WHERE name like 'PEN' ORDER BY price DESC" ) 
results.show()

## Step 3 : 
Select all the products , whose name starts with Pen and results should be order by Price descending order and quantity ascending order.

In [13]:
// spark-shell
val results = sqlContext.sql( "SELECT * FROM products WHERE name LIKE 'Pen %' ORDER BY price DESC, quantity" ) 
results.show()

In [14]:
# pyspark
results = sqlContext.sql( "SELECT * FROM products WHERE name LIKE 'Pen %' ORDER BY price DESC, quantity" ) 
results.show()

## Step 4 : 
Select top 2 products by price

In [16]:
// spark-shell
val results = sqlContext.sql( "SELECT * FROM products ORDER BY price desc LIMIT 2" )
results.show()

In [17]:
# pyspark
results = sqlContext.sql( "SELECT * FROM products ORDER BY price desc LIMIT 2" )
results.show()

end.

---