# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.4 CORRECT TEXT
### Problem Scenario 4: 
You have been given MySQL DB with following details.

|attribute|value|
|-|-|
|user     | retail_dba|
|password | cloudera|
|database | retail_db|
|table    | retail_db.categories|
|jdbc URL | jdbc:mysql://quickstart:3306/retail_db |

Please accomplish following activities.
* Import Single table categories (Subset data} to hive managed table , where category_id between 1 and 22

### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:
Solution :

Step 1 : Import Single table (Subset data)
sqoop import --connect jdbc:mysql://quickstart:3306/retail_db -username=retail_dba -
password=cloudera -table=categories -where "\'category_id\' between 1 and 22" --hive- import --m 1
Note: Here the ' is the same you find on ~ key
This command will create a managed table and content will be created in the following directory.
/user/hive/warehouse/categories

Step 2 : Check whether table is created or not (In Hive)
show tables;
select * from categories;

in linux terminal

### Step 1 : 
Import Single table (Subset data) sqoop

In [7]:
sqoop     import 
--connect jdbc:mysql://quickstart:3306/retail_db 
--username=retail_dba 
--password=cloudera 
--table=categories 
--where "'category_id' between 1 and 22" 
--hive-import 
--m 1

Note: Here the ' is the same you find on ~ key This command will create a managed table and content will be created in the following directory. /user/hive/warehouse/categories

In [9]:
# AAT. tested in quickstart vm

sqoop            import
--connect        jdbc:mysql://quickstart:3306/retail_db
--username       retail_dba
--password       cloudera
--query          'SELECT * FROM retail_db.categories WHERE $CONDITIONS category_id BETWEEN 1 AND 22;'
--split-by       category_id
--target-dir     '/user/hive/warehouse/categories'
--hive-import
--hive-table     categories
--m 1

##Step 2 : 
Check whether table is created or not (In Hive).

In [11]:
show tables;

In [12]:
select * from categories;