# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

In [2]:
## NO.16 CORRECT TEXT
### Problem Scenario 88 : 

You have been given below three files
(Create this file in hdfs)

* product.csv 
* supplier.csv
* products_suppliers.csv

product.csv

`productID,productCode,name,quantity,price,supplierID`

In [4]:
1001,PEN,Pen Red,5000,1.23,501
1002,PEN,Pen Blue,8000,1.25,501
1003,PEN,Pen Black,2000,1.25,501
1004,PEC,Pencil 2B,10000,0.48,502
1005,PEC,Pencil 2H,8000,0.49,502
1006,PEC,Pencil HB,0,9999.99,502
2001,PEC,Pencil 3B,500,0.52,501
2002,PEC,Pencil 4B,200,0.62,501
2003,PEC,Pencil 5B,100,0.73,501
2004,PEC,Pencil 6B,500,0.47,502

supplier.csv

`supplierID,name,phone`

In [6]:
501,ABC Traders,88881111
502,XYZ Company,88882222
503,QQ Corp,88883333

products_suppliers.csv

`productID,supplierID`

In [8]:
2001,501
2002,501
2003,501
2004,502
2001,503

Now accomplish all the queries given in solution.
1. It is possible that, same product can be supplied by multiple supplier. Now find each product, its price according to each supplier.
2. Find all the supllier name, who are supplying 'Pencil 3B'
3. Find all the products , which are supplied by ABC Traders.

#### Answer

create files localy

copy files to hdfs

In [13]:
hdfs dfs mkdir p16
hdfs dfs -put *.csv p16

open pyspark and import libraries

In [15]:
pyspark

In [16]:
from pyspark.sql import Row

open csv files as dataframes

In [18]:
prd      = sc.textFile( 'p16/product.csv' ).map( lambda s: s.split( ',' ) )
prd_rows = prd.map( lambda a: Row( productID = int(a[0]), productCode = a[1], name = a[2], quantity = int(a[3]), price = float(a[4]), supplierID = int(a[5] ) ) )
product  = prd_rows.toDF()

sup      = sc.textFile( 'p16/supplier.csv' ).map( lambda s: s.split( ',' ) )
sup_rows = prd.map( lambda a: Row( supplierid = int( a[0] ), name = a[1], phone = a[2] ) )
supplier = sup_rows.toDF()

ps       = sc.textFile( 'p16/product.csv' ).map( lambda s: s.split( ',' ) )
ps_rows  = prd.map( lambda a: Row( productID = int( a[0] ), supplierID = int( a[1] ) ) )
products_suppliers = ps_rows.toDF()

register dataframes to make queries

In [20]:
product.registerTempTable( 'product'   )
supplier.registerTempTable( 'supplier' )
products_suppliers.registerTempTable( 'products_suppliers' )

#### Activity 1
It is possible that, same product can be supplied by multiple supplier. Now find each product, its price according to each supplier.

In [22]:
r1 = sqlContext.sql( """ 
SELECT ps.productID, ps.supplierID
       p.name as product_name, price, 
       s.name as supplier_name
FROM products_suppliers as ps
JOIN product  as p ON ps.productID  = p.productID
JOIN supplier as s ON ps.supplierID = s.supplierID
ORDER BY p.productID
""" )
r1.show()

#### Activity 2
Find all the supllier name, who are supplying 'Pencil 3B'

In [24]:
r2 = sqlContext.sql( """ 
SELECT ps.productID, ps.supplierID
       p.name as product_name,
       s.name as supplier_name
FROM products_suppliers as ps
JOIN product  as p ON ps.productID  = p.productID
JOIN supplier as s ON ps.supplierID = s.supplierID
WHERE p.name = 'Pencil 3B'
""" )
r2.show()

#### Activity 3
Find all the products , which are supplied by ABC Traders.

In [26]:
r2 = sqlContext.sql( """ 
SELECT ps.productID, ps.supplierID
       p.name as product_name,
       s.name as supplier_name
FROM products_suppliers as ps
JOIN product  as p ON ps.productID  = p.productID
JOIN supplier as s ON ps.supplierID = s.supplierID
WHERE s.name = 'ABC Traders'
""" )
r2.show()